/* Info CSS */

/* Info box styling */
.info {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid #67192a;
    border-radius: 10px;
    text-align: left;
}

.info h2 {
    font-family: 'Yu Gothic', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
}

.info h2 ul li {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    color: white;
}

.info img {
    width: 500px;
    border-radius: 50%;
    align-items: center;
}

.contact-info {
    margin-top: 10px; /* Add some space between each contact info */
    padding: 10px; /* Add padding to the contact info */
    background-color: #333333; /* Add background color to the contact info */
    border-radius: 5px; /* Add rounded corners to the contact info */
}